/* html{
  cursor: ('images/cursor.png'), auto;
} */
/* font-family: "eskorte-latin", serif;
font-weight: 400;
font-style: normal; */
/* font-family: "articulat-cf", sans-serif;
font-weight: 500;
font-style: normal; */
/* font-family: "ff-more-web-pro", serif;
font-weight: 400;
font-style: normal; */
/* font-family: "capitolina", serif;
font-weight: 400;
font-style: normal; */
/* font-family: "tribute", serif;
font-weight: 400;
font-style: italic; */

body {
  background-color: white;
  color: #423F34;
  width: 100%;
   }

.menu{
	position: sticky;
  float: left;
  /* padding-left: 6vw; */
  /* margin-right: 30vw; */
  /* overflow: hidden; */
  top:0;
  height: 50px;
  width: 100vw;
  background: white;
  /* background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); */
  /* text-align: left; */
  align-content: flex-start ;
  display: flex;
}

/* header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	background-color: white;
	font-size: 1.2rem;
	z-index: 4
} */


.title{
  padding-top: 15vh;
  padding-bottom: 10vh;
  padding-left: 5vw;
  width: 100;
  font-size: 5vw;
  text-align: left;
  font-family: "tribute", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 5vw;
  
}

.link{
  margin-top:-16vh;
  margin-bottom: 50vh;
  margin-left: -15vw;
  font-family: "tribute", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
	text-align: left;
	z-index: 50%;
  font-size: 2vw;
}

.link a:hover{
  font-family: "tribute", serif;
  font-weight: 400;
  font-style: italic;
  text-decoration: underline;
}

a{
  margin-left: 40vw;
  text-decoration: none;
  color: #423F34;
}

.quote{
width: 40vw;
text-align: justify;
margin-left: 20vw;
margin-right: 5vw;
}

.container{
    width: 80vw;
    margin-left: 5vw;
    /* margin: 0 auto;  */
    text-align: justify;
    font-size: 1.2vw;
    align-items: left;
    overflow: hidden;
    font-family: "tribute", serif;
    font-weight: 400;
  font-style: normal;
}


/* .images{
  width: 40vw;
  margin-left: 20vw;
} */

img{
  width: 40vw;
  margin-left: 20vw;
}

#black{
  color:#423F34;
  animation: none;
}

.b{
width: 40vw;
text-align: left;
margin-left: 20vw;
margin-right: 5vw;
}

#b{
  color:#423F34;
  animation: none;
}


.text h1{
margin-bottom: -0.2vh;
text-align: left;
font-size: 3vw;
font-family: "tribute", serif;
font-weight: 400;
font-style: normal;
/* text-transform: uppercase; */
}

.text h2{
text-align: left;
font-family: "tribute", serif;
font-weight: 400;
font-style: normal;
/* text-transform: uppercase; */
  }

.text p{
  width: 80vw;
}

.text p:hover {
   animation-play-state: running; 
}

#quote{
  font-family: "capitolina", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5vw;

}

#imgcaption{
  margin-left: 20vw;
  text-align: left;
  font-size: 1vw;
  font-weight: 300;
  color: #423F34;
}


@keyframes color-changes {
  0% {
    color: #F7F7F7; 
  }
  
  20% {
    color: #B2AC97; 
  }
  
  40% {
    color: #99917A; 
  }
  60% {
    color: #686352; 
  }
  80% {
    color: #565245; 

  }
  100% {
    color: #423F34;
  }
}


@media only screen and (max-width: 1081px){
  body {
 background-color: white;
  }

  .title {
    margin-left: 0vw;
    padding-bottom: 10vh;
    background: white;
    font-size: 15vw;
    font-family: "articulat-cf", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 15vw;
  }

  .link{
    margin-bottom: 45vh;
    font-size: 3.5vw;
    margin-left: -30vw;
  }

  a {
    margin-left: 40vw;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
  }

  .container{
    /* width: 80vw; */
    margin: 0 auto;
    font-size: 3.3vw;
    text-align: justify;
    background-color: white;
    /* align-items: left; */
    overflow: hidden;
}

.images{
  width: 80vw;
  margin-left: 0vw;
  margin-right: 0vw;
}


.text h1{
  text-align: left;
  font-size: 7vw;
  }
  
  .text h2{
  text-align: left;
  font-size: 4.5vw;
    }



   #imgcaption{
      font-size: 2.5vw;
      margin-left: 0;
   }

   .quote{
    width: 80vw;
    text-align: left;
    margin-left: 0vw;
    margin-right: 0vw;
    }


   #quote{
    font-family: "p22-mackinac-pro", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 3vw;
  }

  .b{
    width: 80vw;
    text-align: left;
    margin-left: 0vw;
    margin-right: 0vw;
    }
    
    #b{
      color:#423F34;
      animation: none;
    }
    
}