/* html{
  cursor: ('images/cursor.png'), auto;
} */
/* font-family: "eskorte-latin", serif;
font-weight: 400;
font-style: normal; */
/* font-family: "articulat-cf", sans-serif;
font-weight: 500;
font-style: normal; */
/* font-family: "ff-more-web-pro", serif;
font-weight: 400;
font-style: normal; */
/* font-family: "capitolina", serif;
font-weight: 400;
font-style: normal; */
/* font-family: "tribute", serif;
font-weight: 400;
font-style: italic; */

body {
  background-color: #E89CC7;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #E89CC7;
  color:black;
  z-index: 1000;
  height: 30hv;
  overflow: hidden;
  text-align: justify;
  font-family: "soleil", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.5vw;
  padding-left: 5vw;
}

.title{
  color: black;
  padding-top: 15vh;
  padding-bottom: 10vh;
  padding-left: 5vw;
  width: 100;
  font-size: 7vw;
  text-align: left;
  font-family: "soleil", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 6.5vw;
}

@keyframes letterspacing {
  0% {
    letter-spacing: -5rem;
    filter: blur(0.5rem);
  }
  
  50% {
    filter: blur(0.5rem);
  }
  
  100% {
    letter-spacing: 1rem;
    filter: blur(1.5rem);
  }
}

.link{
  /* margin-top:-25vh; */
  margin-bottom: 50vh;
  font-family: "soleil", sans-serif;
  font-weight: 500;
  font-style: normal;
	text-align: left;
	z-index: 50%;
  font-size: 2vw;
}

.link a:hover{
  /* text-decoration: underline; */
  color: #ffb4df;
}

a{
  padding-left: 5vw;
  text-decoration: none;
  color: black;
}

.quote{
width: 40vw;
text-align: justify;
margin-left: 20vw;
margin-right: 5vw;
}

.container{
    width: 60vw;
    margin-left: 5vw;
    /* margin: 0 auto;  */
    text-align: justify;
    font-size: 1.2vw;
    align-items: justify;
    overflow: hidden;
    font-family: "soleil", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#footnote {
  color: black;
  font-size: 0.8vw;
  vertical-align: top;
}

img{
  width: 40vw;
  margin-left: 20vw;
  mix-blend-mode: screen;
  -webkit-filter: grayscale(100%) contrast(200%);
  filter: grayscale(100%) contrast(200%);
  opacity: 1;
}

img:hover{
  mix-blend-mode:unset;
  -webkit-filter: grayscale(100%) contrast(200%);
  filter: grayscale(0%) contrast(100%);
  opacity: 100%;
}



#black{
  color: black;
  animation: none;
}

.b{
width: 40vw;
text-align: left;
margin-left: 20vw;
margin-right: 5vw;
}

#b{
  color: black;
  animation: none;
}


.text h1{
margin-bottom: -0.2vh;
text-align: left;
font-size: 4vw;
font-family: "soleil", sans-serif;
font-weight: 600;
font-style: normal;
}

.text h2{
text-align: left;
font-family: "soleil", sans-serif;
font-weight: 600;
font-style: normal;
  }

.text p{
  width: 60vw;
  animation: color-changes 2s; 
  animation-play-state: paused;
}

.text p:hover {
   animation-play-state: running; 
}

#quote{
  font-family: "soleil", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vw;

}

#imgcaption{
  margin-left: 20vw;
  text-align: left;
  font-size: 1vw;
  font-weight: 300;
  color: black;
}


@keyframes color-changes {
  0% {
    color: #ffb4df; 
  }
  
  20% {
    color: #dc94bd; 
  }
  
  40% {
    color: #a96289; 
  }
  60% {
    color: #5f324b; 
  }
  80% {
    color: #1d1419; 

  }
  100% {
    color: black;
  }
}


@media only screen and (max-width: 1081px){

  .header {
    display: none;
  }

  .title {
    margin-right: 5vw;
    margin-bottom: 10vh;
    font-size: 16vw;
    line-height: 15vw;
    text-align: center;
  }

  .link{
    margin-bottom: 40vh;
    font-size: 4vw;
    margin-left: -30vw;
    text-align: center;
  }

  a {
    margin-left: 30vw;
    color: black;
    text-decoration: none;
  }

  .container{
    width: 80vw; 
    margin: 0 auto;
    font-size: 3.3vw;
    text-align: justify;
    /* align-items: left; */
    overflow: hidden;
}

.images{
  width: 80vw;
  margin-left: 0vw;
  margin-right: 0vw;
}


.text h1{
  text-align: left;
  font-size: 7vw;
  }
  
  .text h2{
  text-align: left;
  font-size: 4.5vw;
    }

  .text p{
   width: 80vw;
  }


   #imgcaption{
      font-size: 2.5vw;
      margin-left: 0;
   }

   .quote{
    width: 80vw;
    text-align: left;
    margin-left: 0vw;
    margin-right: 0vw;
    }


   #quote{
  font-size: 3vw;
  }

  .b{
    width: 80vw;
    text-align: left;
    margin-left: 0vw;
    margin-right: 0vw;
    }
    
    #b{
      animation: none;
    }
    
}